<div class="row" style="position:relative;margin:30px 10px 10px 10px">
    <div class="panel" style="box-shadow:5px 5px 5px silver ">
        <img class="pinIconInsideFeber" src="assets/images/attach-icon.png">
    
      <p style="margin:10px">
          Under the Medical Assistance Program, you can reimburse domiciliary medical expenses for yourself and your immediate family (spouse & children). Under domiciliary medical expense, you can claim reimbursement for treatment which does not require hospitalization.
      </p>
    </div>
    <div class="row">
      
      <div class="col-xs-3 text-center" style="background-color:lightgrey;margin-left: 15px">
        <p style="margin:auto">DOMICILIARY</p>
      </div>
      
    </div>
    <hr style="background-color:black;height: 1px;margin-top: 0">
    <div class="row">
      
      <div class="col-xs-3">
        <label for="patient" style="margin-left:5px">SELECT PATIENT</label>
        <select class="form-control" style="margin:5px;background-color:white;width: 200px" id="patient"  name="patient" disabled>
          <option>USER</option>
        </select>
        
      </div>
      <div class="col-xs-3">
          <label for="illness" style="margin-left:5px">SELECT ILLNESS</label>
          <select class="form-control" style="margin:5px;background-color: white;width: 200px" id="illness"  name="illness" >
            <option selected disabled>Select Illness</option>
            <option>Circulatory Ailents</option>
            <option >Clinical Findings</option>
            <option >Dentals</option>
            <option >Digestive</option>
            <option >ENT</option>
            <option >Eye</option>
            <option >Fever/Cough/Cold</option>
            <option >Genitourinary</option>
            <option >Other</option>


          </select>
          
        </div>
        <div class="col-xs-3" style="position:relative">
            <label for="amount" style="margin-left:5px">Amount</label>
          <input type="number" class="form-control" style="width: 200px;" name="amount">
          <button class="rest_btn"></button>
          <button class="add_btn"></button>

        </div>
      
    </div>
    <br>
    <p style="font-size:15px"><i><b>*Required documents:</b> Bills + Prescription</i></p>
    <hr style="background-color:black;height: 1px;margin-top: 5">
    <br>
    <br>

</div>

