<div class="row" style="position:relative;margin:30px 10px 10px 10px">
    <div class="panel" style="box-shadow:5px 5px 5px silver ">
        <img class="pinIconInsideFeber" src="assets/images/attach-icon.png">
    
      <p style="margin:10px">
          The medicine chest,sublimit is INR. 1000/- per annum. Bulk purchase will be allowed only in genuine cases. Wividus can request additional documents to verify the authenticity of the claim. It has the right to reject claims that are not supported with proper justification for bulk purchase. Dependent parents of employees are covered under Wipro's Voluntary Mediclaim Policy. You can reimburse the premium up to a maximum of INR 10000/- per annum under the Medical Assistance Program limit. However, you can reimburse the premium only if you have taken company policy.Please note that INR 10000/- is inclusive of the Medicine Chest limit of INR 1000/.      </p>
    </div>
    <div class="row">
      
      <div class="col-xs-3 text-center" style="background-color:lightgrey;margin-left: 15px">
        <p style="margin:auto">MEDICINE CHEST
          </p>
      </div>
      
    </div>
    <hr style="background-color:black;height: 1px;margin-top: 0">
    <div class="row">
      
      <div class="col-xs-3">
        <label for="patient" style="margin-left:5px">SELECT PATIENT</label>
        <select class="form-control" style="margin:5px;background-color:white;width: 200px" id="patient"  name="patient" disabled>
          <option>USER</option>
        </select>
        
      </div>
      <div class="col-xs-3">
          <label for="illness" style="margin-left:5px">SELECT ILLNESS</label>
          <select class="form-control" style="margin:5px;background-color: white;width: 200px" id="illness"  name="illness" >
            <option selected disabled>Select Illness</option>
            <option>Circulatory Ailents</option>
            <option >Clinical Findings</option>
            <option >Dentals</option>
            <option >Digestive</option>
            <option >ENT</option>
            <option >Eye</option>
            <option >Fever/Cough/Cold</option>
            <option >Genitourinary</option>
            <option >Other</option>


          </select>
          
        </div>
        <div class="col-xs-3" style="position:relative">
            <label for="amount" style="margin-left:5px">Amount</label>
          <input type="number" class="form-control" style="width: 200px;" name="amount">
          <button class="rest_btn"></button>
          <button class="add_btn"></button>

        </div>
      
    </div>
    <br>
    <p style="font-size:15px"><i><b>*Required documents:</b> Bills</i></p>
    <div class="row">
      
        <div class="col-xs-3 text-center" style="background-color:lightgrey;margin-left: 15px">
          <p style="margin:auto">PARENTAL INSURANCE

            </p>
        </div>
        
      </div>
    <hr style="background-color:black;height: 1px;margin-top: 0">
    <div class="panel" style="box-shadow:5px 5px 5px silver;position: relative; ">
        <img class="pinIconInsideFeber" src="assets/images/attach-icon.png">
    
      <p style="margin:10px">
          You are not eligible for Wipro parental policy as you have not enrolled for Wipro parental policy.
      </p>
    </div>
    <br>
    <br>

</div>

